language: ruby
bundler_args: --without debug
script: "bundle exec rspec spec"
before_install:
  - 'gem update --system --conservative || (gem i "rubygems-update:~>2.7" --no-document && update_rubygems)'
  - 'gem update bundler --conservative'
env:
  - CI=true
rvm:
  - 2.2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - jruby
  - rbx-3
cache: bundler
sudo: false
matrix:
  allow_failures:
    - rvm: jruby
    - rvm: rbx-3
dist: trusty
