language: ruby
bundler_args: --without debug
script: "bundle exec rspec spec"
before_install:
  - "gem update --system"
  - "gem install bundler"
env:
  - CI=true
rvm:
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - jruby
  - rbx-3
cache: bundler
sudo: false
matrix:
  allow_failures:
    - rvm: jruby
    - rvm: rbx-3
dist: trusty
