language: ruby
bundler_args: --without debug
script: "bundle exec rspec spec"
env:
  - CI=true
rvm:
  - 2.0
  - 2.1
  - 2.2.4
  - 2.3.0
  - jruby-9.0.4.0
  - rbx-2
cache: bundler
sudo: false
matrix:
  allow_failures:
    - rvm: rbx-2
addons:
  code_climate:
    repo_token: 5806cc8a21c03f4e2f9d3b9d98d5d9fe084b66243b1dbb27b467dbc795acdcac